body{
	height: 100%;
	padding: 0;
	margin: 0;
}
.container {
  position: relative;
  color: black;
}
.centered{
	height: 100%;
  opacity: 0;
  font-size: 10px;
  transition: 1s;
  position: absolute;
  display: flex;
  margin: 10px 20px;
}
.centered h1{
	font-family: 'Merienda', cursive;
}
.centered h2{
	font-family: 'Allura', cursive;
}
h1.lugar{
	align-self: flex-start;
}
h2.lugar{
	align-self: flex-end;
}
.container:hover .centered{
	font-size: 32px;
}
.container:hover .centered{
	opacity: 1;
	transform: rotate(0deg);
}
.container:hover img{
	transform: scale(1.1);
}